
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.wapi, .coord {
    display: block;
    text-transform: capitalize;
    font-size: 1.75rem;
    margin: 0;
}

.coord {font-size: 1.5rem;}

h4 {
    font-size: 2.7rem;
    font-weight: 300;
    margin: 0;
}

table {
    margin-top: 8px;
}

tr > td:nth-child(1) {
    /* limit lefty column width */
    width: 120px;
    max-width: 120px;
    font-weight: bold;
}

.cert img {
    width: 300px;
    margin: auto;
    display: inline-table;
}

.maps div {
    display: inline-block;
    width:320px;
    height:250px

}

/* buying confirmation pop up */
.buy-popup-mask {
    position: fixed;
    z-index: 8888;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: none;
    transition: opacity .4s ease;
}

.buy-popup-wrapper {
    z-index: 8888;
    display: table-cell;
    vertical-align: middle;
}

.buy-popup-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    /*font-family: Helvetica, Arial, sans-serif;*/
}
